{% extends 'front.html.twig' %}



{% block body %}
    {% block javascripts %}

        <script type="text/javascript" src="{{ asset('/bundles/js/pageFunctions.js')}}"></script>

    {% endblock %}


    <!-- top-brands -->
    <div class="top-brands">
        <div class="container">
            <h3>Consulter vos commande accepté </h3>
            <div class="sliderfig">


                <div class="container">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td colspan="1">
                                <form action="/ajoutarticle" method="post" class="well form-horizontal"style="color:black;">
                                    <h4><i class="fa fa-angle-right"></i> Liste de vos commande </h4><hr>
                                    <input type="text" id="rech" style="height: 40px;width:40%;margin-left:60%" placeholder="Search.." /><br/><br/>
                                    <table class="table table-striped table-advance table-hover" id="tab" >


                                        <thead >
                                        <tr>
                                            <th><i class="fa fa-bookmark"></i> Titre</th>
                                            <th><i class=" fa fa-bookmark"></i> Prix</th>
                                            <th><i class=" fa fa-bookmark"></i> Quantité</th>
                                            <th><i class=" fa fa-bookmark"></i> Date Commande</th>
                                            <th><i class=" fa fa-bookmark"></i> Etat</th>
                                        </tr>
                                        </thead>
                                        <tbody style="font-weight: bold">


                                        {% if t is defined %}
                                            {% for c in t %}
                                                    <tr>
                                                        <td>{{ c.titre }}</td>
                                                        <td>{{ c.prix }}</td>
                                                        <td>{{ c.qte }}</td>
                                                        <td>{{ c.date }}</td>
                                                        {% if c.type=="commandeatt" %}
                                                        <td><span class="label label-warning">En Attente</span></td>
                                                        {% endif %}
                                                        {% if c.type=="commandeacc" %}
                                                            <td><span class="label label-success">Accepté</span></td>
                                                        {% endif %}
                                                        {% if c.type=="commandeliv" %}
                                                            <td><span class="label label-info">Livré</span></td>
                                                        {% endif %}

                                                    </tr>


                                            {% endfor %}
                                        {% endif %}

                                        {% if error is defined %}
                                            <th>{{ error }}</th>
                                            <th></th>
                                        {% endif %}


                                        </tbody>
                                    </table>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- //top-brands -->


{% endblock %}
