{% extends 'front.html.twig' %}

{% block body %}



    <!-- top-brands -->
    <div class="top-brands">
        <div class="container">
            <h3>Modifier Les Infos</h3>
            <div class="sliderfig">


                <div class="container">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td colspan="1">
                                <form action="/modifierprofile/{{ id }}" method="post" class="well form-horizontal"style="margin-right:10%;margin-left: 10%">
                                    <fieldset>
                                        {% if error is defined %}
                                            <div class="alert alert-danger" style="text-align:center;margin-top: 2%;margin-left: 20%;">
                                                <strong>Erruer !</strong> {{ error }}
                                            </div>
                                            <br>
                                        {% endif %}
                                        {% for user in us %}
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Nom</label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="nom"  class="form-control" required="true" value="{{ user.nom }}" type="text"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Prenom</label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="prenom" class="form-control" required="true" value="{{ user.prenom }}" type="text"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Pseudo</label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="login" class="form-control" required="true" value="{{ user.login }}" type="text"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Adresse</label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine1" name="adresse" class="form-control" required="true" value="{{ user.adresse }}" type="text"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Num Tel</label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span><input id="phoneNumber" name="tel" class="form-control" required="true" value="{{ user.tel }}" type="text"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">E-mail</label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input id="email" name="email" class="form-control" required="true" value="{{ user.email }}" type="text"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Mot de passe</label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="oldpassword" class="form-control" required="true" placeholder="**********" type="password"></div>
                                            </div>
                                        </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Nouveau mot de passe</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="password" class="form-control" required="true" value="{{ user.password }}" type="password"></div>
                                                </div>
                                            </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Type</label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                                    <select name="type" disabled="disabled"  class="selectpicker form-control">
                                                        <option value="vendeuratt">Vendeur</option>
                                                        {% if user.type=="client" %}
                                                            <option selected value="client">Client</option>
                                                            {% else %}
                                                                <option value="client">Client</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="sign-up" style="margin-left: 50%" >
                                            <input style="outline:none;border:none;background:#212121;padding:10px 0;color:#fff;width:40%;font-size:1em;text-transform:uppercase;margin:2em 0 0;" type="submit" value="Modifier">
                                        </div>


                                    </fieldset>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <!-- //top-brands -->


{% endblock %}
